
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">
<!--   <link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/Sift/SiftEmail.css"> -->
	<link rel="stylesheet" type="text/css" href="assets/email.css">
  <style type="text/css" inline="false">
    .email {
      text-decoration: none;
      color: #ba76e3;
      cursor: text;
    }

    p {
      margin: 1em 0;
    }
  </style>
  <style>
    /* Handles our own email links, while the directive above handles auto-links. */
    .email {
      text-decoration: none;
      cursor: text;
    }

    /* Hide soft hyphens in email addresses. */
    .optional-hyphen {
      color: #7300b8;
    }

    .secondary, .secondary a, #minor-button a {
      color: #ba76e3;
    }
  </style>
</head>
<body>

  <table width="100%" cellspacing="0" cellpadding="0" border="0">  
  
    <tr><td height="20"></td></tr>
    <tr><td align="center" id="formatIssues">
      <div><a href="http://siftapp.co/email/siftTYEmail.html">Trouble seeing this email?</a></div></td></tr>

  <tr><td height="20"></td></tr>
  <tr><td align="center">
    <table align="center" id="container" border="0" cellpadding="0" cellspacing="0"
           bgcolor="#f32258" width="320">

      <tr><td height="10">&nbsp;</td></tr>
        <td><img width="320" height="190" src="http://s3.amazonaws.com/Sift/siftEmail.png"
                 alt="SIFT"></td>
      
      <tr>
        <td align="center">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="260">
            
            <tr><td height="30"></td></tr>

            <tr><td align="center" id="title"><div>We've added you to the Sift Beta list - we'll be contacting you soon!</div></td></tr>
          </table>
        </td>
      </tr>

      <tr><td height="70">&nbsp;</td></tr>

            <tr><td align="center" id="subTitle"><div>Reporting on the apps that change your life</div></td></tr>
            <tr><td height="30">&nbsp;</td></tr>
    </table>
  </td></tr>


  <tr><td height="20"></td></tr>
  <tr><td align="center">
    <div id="footer">
        <span id="footer-meta">
            <a href="http://bit.ly/SiftApp">SiftApp.co</a>
            <span id="footer-meta-separator">&nbsp;•&nbsp;</span>
            <a href="http://bit.ly/SiftonAngelList">We're on AngelList</a>&nbsp;•&nbsp;
            © Sift 2013
        </span>
    </div>
  </td></tr>
  <tr><td height="70"></td></tr>

</table>
</body>