<div id="main_container">

	<div id="tagline_container">
		<p>THE BEST APP NEWS THAT'S FIT TO PRINT</p>
		<p>We write and curate news about the apps that change your life.</p>
	</div><!-- #tagline_container -->

	<div id="request_button" class="buttons">
		<p>REQUEST INVITE</p>
	</div><!-- #request_button -->

	<%= form_for(@user, :as => :new_user, :method => "post", :url => "/request", :html => {:id => "request_form"}, :format => :json, :remote => true) do |f| %>
		<%= f.text_field :email, :placeholder => 'you@domain.com' %>
		<%= f.submit "SUBMIT", :id => 'submit_button' %>
	<% end %>

	<div id="thankyou_button" class="buttons">
		<p>Thank you! We'll reach out to you soon.</p>
	</div><!-- #thankyou_button -->

	<div id="phone_container">
		<div id="phone"class="swipe">
			<div class="swipe-wrap">
				<div><img src="assets/_Preview01.png"></div>
				<div><img src="assets/_Preview02.png"></div>
				<div><img src="assets/_Preview03.png"></div>
		    <div><img src="assets/03_StreamView.png"></div>
		    <div><img src="assets/04_StreamArticleDetail.png"></div>
		    <div><img src="assets/06_Daily.png"></div>
		    <div><img src="assets/07_AppKit.png"></div>
		    <div><img src="assets/08_AppKit_StartPage.png"></div>
		    <div><img src="assets/09_AppKit_Detail.png"></div>
		    <div><img src="assets/09_pullRefresh.png"></div>
		    <div><img src="assets/09_Side_Reveal.png"></div>
		    <div><img src="assets/10_AOW_Explainer.png"></div>
		  </div>
		</div><!-- #phone -->
	</div><!-- #phone_container -->	

</div><!-- #main_container -->