<!DOCTYPE html>
<html>
<head>
  <title>Sift-Reporting the news about iOS apps</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div id="logo">
			<li><div id="logo_bg"><img id="logo_gif" src="assets/CapOnRed.gif" /></div></li>
			<li><h1><img src="assets/SiftLogoType.png" /></h1></li>
		</div><!-- #logo -->
	</header>

	<%= yield %>

	<footer>
		<img src="assets/FooterIcon.png" />
		<div id="contact">
			<li><a href="https://angel.co/sift-1" target="_blank">ANGELLIST</a></li>
			<li><a href="mailto:s@siftapp.co">CONTACT US</a></li>
		</div><!-- #contact -->
		<div id="info">
			<li>MADE WITH 3 IN NYC & SF</li>
		</div><!-- #info -->
	</footer>

</body>
</html>
